@namespace url("http://www.w3.org/1999/xhtml");

.lizardWebExtElement {
  position: static !important;
  visibility: visible !important;
  display: block !important;
  float: none !important;
  clear: none !important;
  z-index: 2147483640 !important;   /* max is 2147483647, so i have 7 more z-indexes to maneuver */
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  border-radius: 0 !important;
  box-sizing: content-box !important;
  right: auto !important;
  bottom: auto !important;
  max-width: none !important;
  max-height: none !important;
  min-width: 0px !important;
  min-height: 0px !important;
  background: transparent !important;
  opacity: 1 !important;
  clip: auto !important;
  cursor: auto !important;
  outline: none !important;
  text-indent: 0px !important;
  direction: ltr !important;
  text-align: left !important;
  line-height: normal !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -moz-user-input: auto !important;
  -moz-binding: none !important;
  -moz-user-focus: none !important;
}


/** Box **/

#lizardBoxContainer {
  position: fixed !important;
  z-index: 2147483641 !important;
  width: auto !important;
  height: auto !important;
  -moz-user-input: none !important;
}

#lizardBoxBorder {
  box-sizing: border-box !important;
  position: static !important;
  display: block !important;
  border: 2px solid red !important;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.6) !important;
  -moz-user-input: none !important;
}

#lizardBoxLabelTag {
  position: relative !important;
  float: left !important;
  padding: 2px 5px !important;
  background-color: #FFFFCA !important;
  border-width: 0 1px 1px 1px !important;
  border-style: solid !important;
  border-color: black !important;
  border-bottom-left-radius: 0.3em !important;
  border-bottom-right-radius: 0.3em !important;
  white-space: nowrap !important;
  width: auto !important;
  height: auto !important;
  -moz-user-input: none !important;
  font-family: Tahoma, Sans !important;
  font-size: 11px !important;
  color: black !important;
  white-space: pre-wrap !important;
}

#lizardBoxLabelTag.floater {
  border-top-width: 1px !important;
  border-top-left-radius: 0.3em !important;
  border-top-right-radius: 0.3em !important;
  margin-left: 2px !important;
}

#lizardBoxLabelTag>span:first-child {
  display: inline !important;
  font-weight: bold !important;
}


/** Isolate Element **/

#lizardIsolateBody {
  all: initial !important;
  display: table !important;
  margin: auto !important;
  padding-top: 20px !important;
}

[lizardIsolatedCentered] {
  display: table-cell !important;
  vertical-align: middle !important;
}


/** View Source **/

#lizardSourceBox {
  --border-width: 4px;
  position: fixed !important;
  z-index: 2147483642 !important;
  display: flex !important;
  min-height: 95px !important;
  max-height: 80% !important;
  min-width: 300px !important;
  max-width: 80% !important;
  border: var(--border-width) solid green !important;
  box-shadow: 5px 5px 4px 2px rgba(0, 0, 0, 0.6) !important;
  background-color: #FFFFE1 !important;
  user-select: none !important;
  -moz-user-select: auto !important;
  -moz-user-focus: auto !important;
}

#lizardSourceBoxResizer {
  position: absolute !important;
  z-index: 2147483643 !important;
  right: calc(var(--border-width) * -1) !important;
  bottom: calc(var(--border-width) * -1) !important;
  width: 10px !important;
  height: 10px !important;
  background-image: url("icons/resizer.png") !important;
  background-size: cover !important;
  cursor: se-resize !important;
}

#lizardSourceBoxLeftBorder {
  flex: 0 0 24px !important;    /*shorthand: [don't grow] [don't shrink] [size]*/
  background-color: green !important;
}

#lizardSourceBoxSourceType {
  position: absolute !important;
  left: 2px !important;
  bottom: -14px !important;
  transform: rotate(270deg) !important;
  transform-origin: left top 0 !important;
  color: white !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 13px !important;
  font-weight: normal !important;
}

#lizardSourceBoxPre {
  margin: 0 0 0 0 !important;
  padding: 8px 16px !important;
  flex: 1 1 auto !important;    /*shorthand: [grow] [shrink] [available space]*/
  overflow: auto !important;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre-wrap !important;
  font-family: "Courier New", monospace !important;
  font-size: 12px !important;
  font-weight: normal !important;
  color: black !important;
  user-select: none !important;
  -moz-user-select: auto !important;
  -moz-user-focus: auto !important;
}

#lizardSourceBoxClose,
#lizardSourceBoxCopy {
  --button-size: 18px;
  width: var(--button-size) !important;
  height: var(--button-size) !important;
  margin: 0 3px 3px 0 !important;
  border: 1px solid black !important;
  background-color: #a3a3a3 !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  cursor: pointer !important;
}

#lizardSourceBoxClose {
  background-image: url("icons/close.png") !important;
  background-size: calc(100% - 6px) !important;
}

#lizardSourceBoxCopy {
  background-image: url("icons/copy.png") !important;
  background-size: calc(100% - 4px) !important;
}

#lizardSourceBoxClose:hover,
#lizardSourceBoxCopy:hover {
  filter: contrast(225%) !important;
}

#lizardSourceBoxClose:active:hover,
#lizardSourceBoxCopy:active:hover {
  filter: invert(100%) !important;
}


/** Help **/

#lizardHelpBox {
  position: fixed !important;
  width: auto !important;
  z-index: 2147483643 !important;
  background-color: #FFFFE1 !important;
  border: 1px solid black !important;
  box-shadow: 5px 5px 4px 2px rgba(0, 0, 0, 0.6) !important;
  padding: 6px 6px !important;
  font-family: Tahoma, Sans !important;
  font-size: 11px !important;
  color: black !important;
  transition: opacity 0s !important;
  opacity: 0.5 !important;
}

#lizardHelpBox.fadeout {
  transition: opacity 2s !important;
  opacity: 0.5 !important;
}

#lizardHelpBox:hover,
#lizardHelpBox.justShowedUp {
  transition: opacity 0s !important;
  opacity: 1 !important;
}

#lizardHelpBox .letterKey {
  letter-spacing: 1px !important;
  float: left !important;
  width: 21px !important;
  height: 21px !important;
  border: 1px solid black !important;
  border-radius: 0.3em !important;
  box-sizing: content-box !important;
  background-color: dimgray !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: white !important;
  text-align: center !important;
  line-height: 21px !important;
}

#lizardHelpBox .helpImg {
  float: right !important;
  width: 26px !important;
  height: 26px !important;
}

#lizardHelpBox .helpRec {
  font-family: inherit !important;
}

#lizardHelpBox .helpRec:first-child {
  font-size: 13px !important;
  font-weight: bold !important;
  margin-bottom: 10px !important;
}

#lizardHelpBox .helpRec:not(:first-child) {
  margin: 6px !important;
  width: auto !important;
  height: 23px !important;
}

#lizardHelpBox .helpText {
  position: relative !important;
  padding: 5px 10px 0 30px !important;
  white-space: nowrap !important;
  font-size: 11px !important;
}

#lizardHelpBox .helpColor {
  display: inline !important;
  border-radius: 50% !important;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.6) !important;
  font-size: 80% !important;
  margin: 0 3px 0 3px !important;
}

#lizardHelpBox .helpFooter {
  width: auto !important;
}

#lizardHelpBox .helpFooterLink {
  display: inline !important;
  color: blue !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}
